.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#alice {
  height: 70%;
}

span {
  background: linear-gradient(to right, rgb(186, 74, 175), rgb(197, 96, 96));
  background-clip: text;
  color: transparent;
  font-size: 2vmax;
}

button {
  width: 150px;
  height: 50px;
  margin: 10px;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-radius: 20px;
  background-color: rgb(218, 119, 236);
  border: none;
  color: white;
  box-shadow: 2px 2px 100px rgb(218, 119, 236);
}

#speak {
  width: 100px;

}

p {
  font-size: 1vmax;
  color: white;
  text-align: center;
  padding: 0px 40px;
}

.response {
  width: 70%;
  margin: auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

#aiGif{
  width: 50vh;
  height:100px;

}